#AllowOverride FileInfo
#AddHandler x-httpd-php5 .php .htm .html .js
AddType application/x-httpd-php php phtml html js

#AddType application/x-httpd-php js
#AddHandler x-httpd-php5 .js

#<FilesMatch "\.(js|php)$">
#SetHandler application/x-httpd-php
#</FilesMatch>