.panel {
	padding: 20px;
	width: 250px;
	background: #eeeeee;
	border: #282828 2px solid;
	font-family: Georgia;
}

/*оформление выдвигающегося поля*/
.slide-out-div {
width:100px; /* ширина */
height:100px !important; /* высота */
background-color:#FFFFF2; /* фон */
border:1px solid #E8C15D; /* рамка */
-moz-border-radius:5px;
-khtml-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
padding:12px; /* отступ содержимого от границ поля */
line-height: 1.6em;
}

/* оформление ссылок в панели */
.slide-out-div a {
font-family:Georgia; /* шрифт */
font-size:13px; /* размер текста */
color:#804804; /* цвет ссылок */
line-height: 1.6em;
}

/* цвет ссылок в панели при наведении курсора */
.slide-out-div a:hover {
color:#AC8E25; 
}